<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"><meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ответ</title>
    <style>
        .layer1 {
            position: absolute;
            background-color: green;
            bottom: 500px;
            right: 560px;
        }
    </style>
</head>
<body>
    <div class="layer1">
        <div class="text-white style="max-width: 18rem;">
            <div class="card-body align-self-center">
                <p class="card-text">{{ message }}</p>
              </div>
        </div>
    </div>
</body>
</html>